.header {
    height:75px;
    background-color:#ffffff;
}

p {
    line-height: 25px;
}

h1, h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:#dddddd;

}

span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:75px;
    left:150px;
    /* margin:0 0 0 150; */
    padding:20px;
    background-color:#4aaaa5;
    color:#ffffff;
    position: absolute;
    font-size:30px;
}

.content {
    
    margin:25px 150px;
    
    padding:25px;
    background-color:#ffffff;
}

